Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/">
      <s:element name="MostrarDatos">
        <s:complexType />
      </s:element>
      <s:element name="MostrarDatosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MostrarDatosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarDatos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="matricula" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="edad" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarDatosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertarDatosResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarDatos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="matricula" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="edad" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarDatosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizarDatosResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarDatos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="matricula" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarDatosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminarDatosResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MostrarDatosSoapIn">
    <wsdl:part name="parameters" element="tns:MostrarDatos" />
  </wsdl:message>
  <wsdl:message name="MostrarDatosSoapOut">
    <wsdl:part name="parameters" element="tns:MostrarDatosResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarDatosSoapIn">
    <wsdl:part name="parameters" element="tns:InsertarDatos" />
  </wsdl:message>
  <wsdl:message name="InsertarDatosSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarDatosResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarDatosSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarDatos" />
  </wsdl:message>
  <wsdl:message name="ActualizarDatosSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarDatosResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarDatosSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarDatos" />
  </wsdl:message>
  <wsdl:message name="EliminarDatosSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarDatosResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="MostrarDatos">
      <wsdl:input message="tns:MostrarDatosSoapIn" />
      <wsdl:output message="tns:MostrarDatosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertarDatos">
      <wsdl:input message="tns:InsertarDatosSoapIn" />
      <wsdl:output message="tns:InsertarDatosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarDatos">
      <wsdl:input message="tns:ActualizarDatosSoapIn" />
      <wsdl:output message="tns:ActualizarDatosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarDatos">
      <wsdl:input message="tns:EliminarDatosSoapIn" />
      <wsdl:output message="tns:EliminarDatosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MostrarDatos">
      <soap:operation soapAction="http://localhost/MostrarDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarDatos">
      <soap:operation soapAction="http://localhost/InsertarDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarDatos">
      <soap:operation soapAction="http://localhost/ActualizarDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarDatos">
      <soap:operation soapAction="http://localhost/EliminarDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MostrarDatos">
      <soap12:operation soapAction="http://localhost/MostrarDatos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarDatos">
      <soap12:operation soapAction="http://localhost/InsertarDatos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarDatos">
      <soap12:operation soapAction="http://localhost/ActualizarDatos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarDatos">
      <soap12:operation soapAction="http://localhost/EliminarDatos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:10/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:10/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>